body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f8f5; /* Set global background color */
}

.container {
    background-color: #f5f8f5; /* Background color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content {
    background-color: #32CD32; /* Semi-transparent background for content area */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

/* Styles for the info section */
.info-section {
    padding: 40px;
    text-align: center;
    background-color: #f5f8f5; /* Background color */
}

.info-section h2 {
    font-size: 2em;
    color: #333; /* Dark text color */
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1em;
    color: #555; /* Medium text color */
    max-width: 800px;
    margin: 0 auto; /* Center the paragraph */
}

/* Styles for the services section */
.services {
    padding: 40px;
    text-align: center;
    background-color: #f5f8f5; /* Background color */
}

.services h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #32CD32; /* Light gray background for cards */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 30%; /* Adjust as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #333;
}
